<li class="list-group-item person-item">
  <%= "#{person.first_name} #{person.last_name} - #{person.country}" %>
  <span class="person-buttons">
    <%= link_to "Edit", edit_person_path(person), remote: true,
        class: "btn btn-primary", data: { disable_with: "Edit..." } %>
    <%= link_to "Delete", person_path(person), method: :delete, remote: true,
        class: "btn btn-danger", data: { disable_with: "Delete...",
        confirm: "Are you sure you want to delete this record?" } %>    
  </span>
</li>