<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <%= link_to "Add Person", new_person_path, remote: true,
        class: "btn btn-primary", data: { disable_with: "Add Person..." } %>
       
      <div id="person-form">
            
      </div>
      
      <ul id="people-list" class="list-group">
        <%= render @people %>
      </ul>
      
    </div>      
  </div>
</div>